//.App {
//  text-align: center;
//}
//
//.App-logo {
//  height: 40vmin;
//  pointer-events: none;
//}
//
//@media (prefers-reduced-motion: no-preference) {
//  .App-logo {
//    animation: App-logo-spin infinite 20s linear;
//  }
//}
//
//.App-header {
//  background-color: #282c34;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: white;
//}
//
//.App-link {
//  color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
$body-color:#445162;

.product-view{
  background:$body-color ;
  padding: 0 51px;
}
.product-view__list{
  list-style: none;
  font-size: 20px;
  padding: 24px 10px;
}
.product-view__box{
  height: 75%;
}
.product-about,.section-pluses,.section-screenshots,.section-reviews{
  padding: 51px;
  color: $body-color;
}
.product-about__box,.section-screenshots__box,.section-reviews__avatar{
  background: $body-color;
}
.section-pluses,.section-reviews{
  background: rgb(245,245,245);
}
.section-pluses i{
  font-size: 45px;
  margin-right: 5px;
}
.section-reviews__avatar{
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
.section-reviews__message {
  background: rgb(235,235,235);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  color: $body-color;
}
.section-reviews__message::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: -30px; top: 25px; /* Положение треугольника */
  border: 15px solid transparent;
  border-right: 15px solid rgb(235,235,235);
}
.section-sell{
  padding: 51px 150px;
  color: $body-color;
}
.section-sell__product{
  margin-top: auto;
  position:relative ;
  bottom: 0px;
  background: $body-color;
  border: 2px solid $body-color;
  border-radius: 5px;
}
.section-sell__product_price{
  color: $body-color;
  font-size: 45px;
}
.section-sell__product_btn{
  margin: 0 7% 20px;
  padding: 5px 0;
  border-radius: 5px;
  border: none;
  color: $body-color;
  font-size: 24px;
  font-weight: bold;
  width: 86%;
}
.section-contacts__btn{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: $body-color;
  font-size: 24px;
  font-weight: bold;
}
.section-contacts{
  padding: 51px 240px 51px 200px;
  background: $body-color;
}
.section-contacts__input,.section-contacts__textarea{
  width: 100%;
  background: white;
  border-radius: 5px;
  border: none;
  padding: 7px;
  outline: none;
}
.section-contacts__textarea{
  resize: none;
  height: 150px;
}
.section-contacts__info{
  font-size: 16px;
}
.section-contacts__info i{
  font-size: 20px;
}
.section-contacts__icons i{
  font-size: 24px;
  width: 40px;
  height: 40px;
  padding: 8px 0;
  text-align: center;
  border-radius: 20px;
  background: white;
  color: $body-color;
}